.login {
  margin: 0 auto;
  width: 100px;
  margin-top: 50px;
  padding: 30px 250px 10px 30px;
  box-shadow: 10px 10px 200px 0px rgba(0, 0, 0, 0.75);
}

.LoginInput {
  margin: 0px;
  padding: 5px;
}

.company {
  color: #6e2d84;
  margin-left: 10px;
  background-color: #d6d6d6;
  padding: 20px 190px 20px 20px;
  border-radius: 5px;
}

.background {
  position: relative;
  background: url("../../img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -54px;
  margin-bottom: -50px;
}

.button {
  background-color: #6e2d84;
  padding: 10px 80px 10px 40px;
  margin: 0px 0px 20px 10px;
  color: white;
  opacity: 1;
  cursor: pointer;
}
